@use "../global/" as *;

@mixin inner($width: $xl-inner, $padding: $padding) {
  width: min($s-inner, 100%);
  padding-inline: $padding-sp;
  margin-inline: auto;
  position: relative;

  @include mq() {
    width: min(calc($width + $padding * 2), 100%);
    padding-inline: $padding;
  }

}

.l-inner {
  @include inner();
}

.l-inner--m {
  @include inner($m-inner);
}

.l-inner--s {
  @include inner($s-inner);
}