@use "../global/" as *;

@mixin inner($width: $xl-inner, $padding: $padding) {
  max-width: $s-inner;
  padding-inline: $padding-sp;
  margin-inline: auto;
  position: relative;
  width: min(calc($width + $padding * 2), 100%);

  @include mq() {
    padding-inline: $padding;
    max-width: 100%;
  }

}

.l-inner {
  @include inner();
}

.l-inner--m {
  @include inner($m-inner);
}

.l-inner--s {
  @include inner($s-inner);
}