@use "../global/" as *;
@use "sass:math";
@use "sass:map";

.c-toTop {
  display: block;
  opacity: 0;
  position: fixed;
  right: 10px;
  bottom: 20px;
  transition: .5s;
  visibility: hidden;
  width: 40px;
  aspect-ratio: 1/ 1;
  z-index: map.get($z-map, toTop);

  .add-scrolled & {
    opacity: 1;
    visibility: visible;
  }
}